<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Personal Project (Visualization of data)">
    <meta name="keywords" content="Visualization, Viz, R, Python">
    <title>Viz Project</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../img/icon_1.ico">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    
</head>

<body>
    <nav>
        <ul class="navbar">
            <li><a href="../index.html">Home</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="works.html">Works</a></li>
            <li><a href="references.html">References</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>

    <main class="main">
        <h1 class="h1Black">Works</h1>

        <!-- Wrapper -->
        <div class="flex-container-contact">
            <div class="card text-center" style="width: 55em;">
                <img class="card-img-top" src="https://mdbootstrap.com/img/new/slides/043.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Work 1</h5>
                    <p class="card-text">Description of project 1.</p>
                    <a href="https://github.com/bluepill5" class="btn btn-primary">Proyecto</a>
                </div>
            </div>
            <div class="card text-center" style="width: 55em;">
                <img class="card-img-top-saturate" src="https://mdbootstrap.com/img/new/slides/043.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Work 2</h5>
                    <p class="card-text">Description of project 2</p>
                    <a href="https://github.com/bluepill5" class="btn btn-primary">Proyecto</a>
                </div>
            </div>
            <div class="card text-center" style="width: 55em;">
                <img class="card-img-top-grayscale" src="https://mdbootstrap.com/img/new/slides/043.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Work 3</h5>
                    <p class="card-text">Description of project 3</p>
                    <a href="https://github.com/bluepill5" class="btn btn-primary">Proyecto</a>
                </div>
            </div>
            <div class="card text-center" style="width: 55em;">
                <img class="card-img-top-sepia" src="https://mdbootstrap.com/img/new/slides/043.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Work 4</h5>
                    <p class="card-text">Description of project 4</p>
                    <a href="https://github.com/bluepill5" class="btn btn-primary">Proyecto</a>
                </div>
            </div>
            <div class="card text-center" style="width: 55em;">
                <img class="card-img-top-hue" src="https://mdbootstrap.com/img/new/slides/043.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Work 5</h5>
                    <p class="card-text">Description of project 5</p>
                    <a href="https://github.com/bluepill5" class="btn btn-primary">Proyecto</a>
                </div>
            </div>
        </div>
        <!-- Wrapper -->

    </main>

    <footer class="classFooter">
        <p>Author: Alexandro Mayoral</p>
        <p><a href="mailto:alexandro.mayoral@gmail.com">alexandro.mayoral@gmail.com</a></p>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="./scripts/index.js"></script>
</body>

</html>